h1 {
  text-align: center;
  color: #d4d4d4;
}

body {
  background-color: #6c6c6c;
  margin: 0;
}

.grid {
  margin: 20px auto;
  border: 1px solid black;
  height: 360px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aliceblue; */
}
#logo {
  /* background-color: red; */
  padding: 5px 10px;
  margin: 0;
}

#message {
  color: #edd7d7;
  font-size: 2rem;
}

.grid div {
  height: 40px;
  width: 40px;
}

.ending-block {
  background-color: rgb(43, 189, 29);
}

.starting-block {
  background-color: rgb(58, 44, 247);
}

/* .log-left,
.log-right {
  background-color: lightseagreen;
} */

.car-left,
.car-right {
  background-color: rgb(137, 145, 144);
}

#link-yt {
  color: #d4d4d4;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 10px;
}

.container {
  width: 800px;
  margin:  0 auto;
}

#link-yt:hover {
  color: #ffffff;
}

#main-button {
  color: black;
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 5px 15px;
  text-decoration: none;
  border: 0
}

#main-button:hover {
  background-color: rgb(209, 209, 209);
}

.l1, .l2, .l3 {
  background-color: rgb(121, 28, 28);
}

.l5, .l4 {
  background-color: lightseagreen;
}

.c1 {
  background-color: black;
}

.c2, .c3 {
  background-color: #575757;
}

.tomato {
  background-color: rgb(201, 28, 28);
}
