h1 {
  text-align: center;
  color: #a45353;
}

body {
  background-color: #e5e5c8;
  margin: 0;
}

.grid {
  margin: 20px auto;
  border: 1px solid black;
  height: 360px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  background-color: #56c945e0;
}

#logo {
  /* background-color: red; */
  padding: 5px 10px;
  margin: 5px 0;
  /* margin-bottom: 10px; */
}

#message {
  color: #edd7d7;
  font-size: 2rem;
}

.grid div {
  height: 40px;
  width: 40px;
}

.ending-block {
  background-color: rgb(43, 189, 29);
}

.starting-block {
  background-color: rgb(58, 44, 247);
}

/* .log-left,
.log-right {
  background-color: lightseagreen;
} */

.car-left,
.car-right {
  background-color: rgb(137, 145, 144);
}

#link-yt {
  color: #832c2c;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 10px;
}

h3.info {
  font-size: 1.4rem;
  margin: 5px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link-yt:hover {
  color: #ffffff;
}

#main-button {
  color: #e6e6e6;
  font-size: 1.8rem;
  border-radius: 5px;
  background-color: #973636;
  padding: 8px 16px;
  text-decoration: none;
  border: 0;
  transition: 0.2s;
}

#main-button:hover {
  background-color: #b94f4f;
  transition: 0.2s;
}

.l1, .l2, .l3 {
  background-color: rgb(121, 28, 28);
}

.l5, .l4 {
  background-color: lightseagreen;
}

.c1 {
  background-color: black;
}

.c2, .c3 {
  background-color: #575757;
}

.tomato {
  background-color: rgb(201, 28, 28);
}

@media (max-width: 500px) {

}
